doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    <a href="https://github.com/oguzhan18" target="_blank">Github<a><br>
    <a href="https://www.linkedin.com/in/o%C4%9Fuzhan-%C3%A7art-b73405199/" target="_blank">LinkedIn<a><br>
    <a href="https://codepen.io/oguzhan1881" target="_blank">Codpen.io<a><br>
    <a href="mailto:oguzhancart1@gmail.com" target="_blank">Email</a><br>
hr